.maincontainer{ position: relative;
    float:left;
    width: 100%;}
.menuBox{width: 19%;
    background: transparent;
    border-radius: 0px;
    padding: 10px 6px 0px 6px;
    display: inline-block;
    text-align: left;
    color: #003974;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
margin-top:10px;
cursor:pointer;
vertical-align: middle;
list-style:none;
/* box-shadow: 1px 1px 2px 1px #cccfd0;*/
border-right: 1px solid #dfe6e8;
}
.menuBox:hover{ background: #f3f3f3;
    box-shadow: 1px 1px 2px 1px #d6dade;}
.menuItem{border-bottom: 1px solid #dfe6e8; padding-bottom: 20px;}
.submenuBox{ width: 98%; font-size:13px; list-style:none}
.menuImg{ background: #003974;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block; text-align: center;
    vertical-align: middle; box-shadow: 1px 1px 2px 1px #b3bac3;}
.menuImg i{ color: #fff;
    font-size: 15px;
    vertical-align: middle;}
.menuTitle{ width: 165px;
    display: inline-block;
    padding-left: 5px;}



    
    .portalBox {
        cursor: pointer;
        width: 19.2%;
        display: inline-block;
        text-align: center;
        border-right: 1px solid #eae6e6;
        border-bottom: 1px solid #eae6e6;
        margin-bottom: 15px;
        padding: 15px 10px 10px;
        margin-right: 5px;
        margin-left: 5px;
        vertical-align: top;
        height: 68px;
        overflow: hidden;
    }
        .portalBox:hover {
        background: #f2f2f3;
box-shadow: 1px 1px 2px 1px #dfdfdf;
        }
        .portalBox img {
            width: 12%;
            display: inline-block;
            float:left
        }

        .portalBox h5 {font-size: 16px;
            color: #20343f;
            padding-top: 0px;
            display: inline-block;
            float: left;
            width: 87%;
            text-align: left;
            padding-left: 10px;
            font-weight: 600;
            margin-top: 0px;
        }
    .portalBox a{color:#fff}
    .noteBox {
            background: #fbfcfd;
border-top: 1px solid #dedbdb;
border-radius: 0px;
margin-top: 15px;
padding: 15px 10px 10px;
box-shadow: 0px 1px 2px 1px #ddd;
font-family: Roboto,"Helvetica Neue",Arial,sans-serif,"Segoe UI Symbol" !important;
max-height: 386px;
overflow: auto;
min-height: 386px;
    }

        .noteBox h5 {
            color: #0a2e40;
            font-size: 18px;
        }

        .noteBox ul {
            list-style: none;
            padding-left: 18px;
            margin-bottom: 6px;
        }

            .noteBox ul li {
                font-size: 13px;
            }

    .attachmentBtn {
        position: absolute;
        right: 13px;
        top: 10px;
        font-size: 13px;
        font-weight: 600;
        color: #33789e;
        cursor: pointer;
    }

        .attachmentBtn:hover {
            text-decoration: underline;
            color: #294856;
        }

        .attachmentBtn i {
            font-size: 15px;
            font-weight: 600;
            padding-right: 4px;
        }