<div class="main-content maincontainer">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <!-- <span class="legal">Home</span> -->
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 mt-3">
                        <div class=" col-md-12 col-sm-12 col-xs-12">
        
                            <div class=" portalBox">
                                <img src="../assets/images/trial_icon.png" />
                                    <h5>Trial Balance Report</h5>
                                
                            </div>
        
        
                            <div class="portalBox">
                                <img src="../assets/images/summary_icon.png" />
                                    <h5>Portfolio Performance Summary</h5>
                                
                            </div>
        
        
                            <div class="portalBox">
                                <img src="../assets/images/holding_icon.png" />
                                    <h5>Holding Report</h5>
                               
                            </div>
        
        
                            <div class="portalBox">
                               
                                    <img src="../assets/images/transaction_icon.png" />
                                    <h5>Transaction Statement</h5>
                             
                            </div>
        
        
                            <div class="portalBox">
                               
                                    <img src="../assets/images/cash_icon.png" />
                                    <h5>Cash Equivalent</h5>
                               
                            </div>
        
                        </div>
        
        
                    </div>
        
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class=" col-md-12 col-sm-12 col-xs-12 noteBox">
                        <h5>Important Notes:</h5>
                        <span class="attachmentBtn"><i class="fa fa-paperclip" aria-hidden="true"></i>Download Attachment</span>
                        <ul>
                            <li>1. Trial Balance Report</li>
                            <li>2. Portfolio Performance Summary Report</li>
                            <li>3. Portfolio Appraisal Report</li>
                            <li>4. Transaction Statement Report</li>
                            <li>5. Cash Equivalent Report</li>
        
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>