body {
    font-size: 12px !important;
    
}
.mainLogo{width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #90a5bb}
.inputbox{
    border: none;
    border: 1px solid #c6c6c7;
}
.captchaImg{width:200px; height: 100px;}
.captchaCon{position:relative}
.captchaCon i{    font-size: 20px;
    font-weight: bold;
    color: #003974;
    /* padding-top: 16px; */
    display: inline-block;
    vertical-align: middle;}
    
    .quickLeftDiv {
        background: #003974;
        height: 38px;
        width: 100%;
        float: left;
    }
.navCon{background: #003974;}
.blue {
    color: #003974 !important;
}

.bolder {
    font-weight: bolder;
}

i.ace-icon.fa.fa-key {
    font-size: 12px;
    margin: 13px 4px 0 0;
}


.header > .ace-icon {
    margin-top: 11px;
    margin-left: 4px;
}

* {
    margin: 0;
    padding: 0;
}


.login-box .toolbar {
    background: #f9545a;
    border: 2px solid #f9545a;
}

.login-layout img {
    width: 3%;
}


button.pull-right.btn.btn-sm.btn-primary {
    width: 100%;
}



.toolbar1 img {
    margin-top: 4px;
    margin-right: 6px;
    width: 5%;
}

.toolbar2 {
    margin-top: 8px;
    margin-right: 8px;
    width: 97%;
}

.light-login {
    background-size: 100% 100%;
}

.form-control2 {
    width: 94%;
}



.outer {
    background: #f1f1f1;
    height: 252px;
    width: 40%;
    float: right;
}




.login-layout .widget-box {
    background-color: none;
}


.inner {
    background: #f1f1f1;
    height: 185px;
    margin-left: 13px;
    margin-top: 58px;
    border-color: #c5d0dc;
}

.login-layout .widget-box .widget-main {
    padding: 16px 36px 20px;
    border-right: 1px solid #cdcdcd
}

.widget-body {
    background-color: #f7f7f7;
    width: 60%;
    float: left;
    height: auto !important;
}

.navbar {
    height: 38px;
    min-height: 38px;
    /* background: rgb(31,73,125); */
    border: 0px;
    border-radius: 0px;
}

.topper {
    background: #fff;
    width: 14%;
    float: right;
    margin-top: 6px;
}

span.orange {
    margin-right: 14px;
    margin-left: 5px;
}

.topper i {
    font-size: 15px;
}

.n-left-content {
    text-align: center;
}

img.im {
    width: 41%;
}

p.n-left-para2 {
    font-size: 22px;
}

span.blue-back {
    font-size: 24px;
}


p.n-left-para1 {
    font-size: 23px;
}

span.lbl {
    font-size: 13px;
    margin-left: 0px;
    float: right;
}

.toolbar.clearfix {
    width: 86%;
    margin-left: 32px;
    margin-top: -35px;
}

.toolbar.clearfix1 {
    width: 86%;
    margin-left: 32px;
    margin-top: 0px;
}

input#btnLogin {
    width: 22%;
}

.row {
    margin-right: 0;
}

span.text {
    color: #b84590;
}



.head {
    background: #2457ae;
    height: 10px;
    width: 100%;
}

label.errmsg {
    height: 22px;
    font-size: 13px;
    color: Red;
    width: 100%;
}

label.err {
    height: 0;
    font-size: 13px;
    color: Red;
}

h4.header.blue.lighter.bigger {
    margin-bottom: -3px;
}

a.back-to-login-link {
    float: right;
    margin-right: 142px;
}

.space1 {
    min-height: 1px;
    max-height: 1px;
    margin: 29px 0;
}

.space2 {
    min-height: 1px;
    max-height: 10px;
}

.upspace {
    background: #f1f1f1;
}

i.ace-icon.fa.fa-key {
    left: auto;
    right: 3px;
    float: left;
}

.toolbar1 {
    right: 0;
}

.phoneNumber {
    color: #6fb3e0 !important;
}

span.phoneNumber {
    margin-right: 14px;
    margin-left: 5px;
}

.validate {
    border: 1px solid #f57373 !important;
    box-shadow: 2px 2px 15px 1px #f0a4a4 !important;
    -webkit-box-shadow: 2px 2px 15px 1px #f0a4a4 !important;
}
/* 
form {
    display: block;
    overflow: hidden;
    padding: 1px 0px 20px !important;
    height: 88% !important;
    background-image: url("../../assets/images/backimage.jpg");
} */

.footer .footer-inner .footer-content {
    /* position: absolute; */
    left: 12px;
    right: 12px;
    bottom: 0px;
    margin-bottom: 6px;
}
.footer-inner img{width:3.5%; float: right; padding-right: 10px}

* {
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: white;
    font-size: 12px;
    overflow:hidden !important;
}

.form {
    width: 30%;
    overflow: hidden;
    display: inline-block;

}

.quickCheckLogin {
    margin-top: 2%
}

   .login-container, .forgot-container{
        background: transparent;
    width: 100%;
    position: relative
    }

    

.form:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100px;
    left: 20%;
    background: #111;
    top: 0;
}

.form:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 0px;
    border-radius: 50%;
    left: 34%;
    top: -7px;
    box-shadow: 0 0 6px 4px #fff;
}

#btnLoginzipnach {
    width: 22%
}

.inset {
    padding: 35px 20px;
    border-top: 1px solid #e9e9f1;
    overflow: hidden;
}


.form h1 {
    font-size: 18px;
    font-weight: bold;
    color: #003974;
    padding-left: 15px;
}


label {
    color: #58585a;
    display: block;
    padding-bottom: 9px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 5px 5px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    border-radius: 0.3em;
    margin-bottom: 20px;
}

label[for=remember] {
    color: white;
    display: inline-block;
    padding-bottom: 0;
    padding-top: 5px;
}

input[type=checkbox] {
    display: inline-block;
    vertical-align: top;
}

.p-container {
    padding: 0 20px 20px 20px;
    overflow: hidden;
}

    .p-container:after {
        clear: both;
        display: table;
        content: "";
    }

    .p-container span {
        display: block;
        float: left;
        color: #58585a;
        padding-top: 8px;
        font-size: 12px !important;
    }

input[type=submit] {
    margin-right: 10px;
    padding: 4px 15px;
    border: 1px solid rgba(0,0,0,0.4);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 0.3em;
    background: #003974;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    width: 80px !important;
}

    input[type=submit]:hover {
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -10px 10px rgba(255,255,255,0.1);
    }


input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
    background: transparent;
}

.ace-nav > li.light-blue > a {
    background-color: #003974;
}

.footer .footer-inner .footer-content {
    /* position: absolute; */
    left: 12px;
    right: 12px;
    bottom: 0px;
    margin-top: 1%;
}

.footer-inner {
    height: 25px;
    text-align: center;
    position: absolute;
    z-index: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0% 0 0.5% 0;
    box-shadow: 1px 0px 2px 1px #dddfe2;
}


ol, ul {
    padding: 0;
    margin: 0 0 1px 25px;
}

label {
    font-family: calibri;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 0;
}




label.text1 {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #478FCA !important;
    margin-bottom: 3px !important;
}


#navbar1 {
    height: 45px !important;
    background: rgb(31,73,125) !important;
    border: none;
    border-radius: 0px;
    min-height: 40px !important;
}

    #navbar1 .navbar-brand {
        color: #FFF;
        font-size: 24px;
        text-shadow: none;
        padding-top: 14px;
        padding-bottom: 10px;
        height: auto;
    }

    #navbar1 .navbar-container {
        padding-left: 0px;
    }

span#zipNachFooter {
    color: #478FCA !important
}

.headerHome {
    float: right;
    padding: 14px 0 0 0;
}

    .headerHome a {
        color: #fff;
    }

a.headerRightIcon i {
    font-size: 15px;
}

a.headerRightIcon i {
    margin-right: 2px;
}

.headerRightPart {
    float: right;
    margin-left: 3px;
}
.divDisable {
    background: #f0f0f0 !important;
    opacity: 0.8;
    pointer-events: none;
}

.verisignCon{display: inline-block;
    width: 190px;
    vertical-align: top;
    padding-top: 10%;}

.loginBack{ 
    position: absolute;
    right: 5px;
    top: 0px;
    cursor: pointer;
    font-size: 12px;
    display: block;
    color: #073e78;
    font-weight: bold;
    text-decoration: underline;}
.backLoginCon{position:relative}
.copyRight{display: inline-block;
    padding-top: 4px;}
.forgotCon{ background-image: url("../../assets/images/backimage1.png");
    height: 800px;
    width: 100%;
    overflow: hidden;
    background-size: 100%;}
    .kotakLogo{width: 210px;
        float: right;
        height: 38px;
        overflow: hidden;}
        @media only screen and (max-device-width : 1024px) and (min-device-width : 769px) {

            .form {
                width: 40%;
                overflow: hidden;
                display: inline-block;
            }
            .mainLogo {
                width: 100%;
                margin-left: -18px;
                padding-top: 5px;
            }
            
        } 
        @media only screen and (max-device-width : 768px) and (min-device-width : 451px) {
            .quickLeftDiv {
                background: #003974;
                height: 38px;
                width: 33% !important;
                float: left;
            }
            .mainLogo {
                width: 70%;
                margin-left: -4px;
                padding-top: 0px;
            }
            .quickrightDiv {
                background: #ed1c24;
                height: 38px!important;
                width: 67%;
                float: left;
            }
            .form {
                width: 100%;
                overflow: hidden;
                display: inline-block;
            }
        }  
        @media only screen and (max-device-width : 450px) and (min-device-width : 320px) {
            .quickLeftDiv {
                background: #003974;
                height: 38px;
                width: 33% !important;
                float: left;
            }
            .quickrightDiv {
                background: #ed1c24;
                height: 38px!important;
                width: 67%;
                float: left;
            }

            .form {
                width: 100%;
                overflow: hidden;
                display: inline-block;
            }
        }        