<div id="navbar" class="navbar navbar-default" style="display: block">
    <div class="quickLeftDiv" appNorightclick>
        <div class="navbar-container navCon" >
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand mainLogo">Offline Kollekt</a>

            </div>
        </div>
    </div>
</div>
<div class="forgotCon">
<form autocomplete="off" [formGroup]="Forgotpasswordform"  class="form" >
  <div class="quickCheckLogin" >
      
      <div class="clearfix">
      </div>
      <div class="login-container" >
      
          <h1>
              Reset Password
          </h1>
          <div class="inset">
              <p >
              
                  <label for="email">
                      Email ID
                  </label>
                  <input name="EmailID" type="text" [ngClass]="displayFieldCss('EmailID')" class="form-control inputbox" (keypress)="Removelabel()" formControlName="EmailID" placeholder="" />
                  
              </p>  


              <p class="backLoginCon">  
                <label id="lblName">{{errormsg}}</label>        
              <input type="submit" value="Submit" [disabled]="btnsubmitDisabled" (click)="onSubmit()" class="loginbtn" />

           
              <span class="loginBack" (click)="Show()">Back to Login</span>
            </p> 
          </div>
          
      </div>
      
  </div>
  
</form>
</div>
<div class="clearfix"></div>

<div class="footer" style="display: block">
  <div class="footer-inner">
      <span class="copyRight">Copyright &copy; 2016-2020 | Offline Kollekt | All Rights Reserved</span>
  
  </div>
</div>